body {
    background-image: url(assets/wallpaper.gif);
    background-repeat: no-repeat;
    background-position: top center;
  
 }

header {
    padding-top: 10px;
    margin-top: 0px;
}

.logo {
    width: 30vw;
    margin-right: 5px;
}

form.data {
    bottom: 60vw;
}


div.habitos {
    margin-left: 20px;
    z-index: 1;
}

div.dias {
    margin-left: 10px;
}